.task {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;

  background: var(--gray-500);

  margin-bottom: 0.75rem;
  border-radius: 8px;
}

.task p {
  width: 100%;
  margin: 0 0.75rem;
  line-height: 1.4;
  font-size: 0.875rem;
}

.isChecked {
  color: var(--gray-300);
  text-decoration: line-through;
}

.notChecked {
  color: var(--gray-100);
}

.task input[type="checkbox"] {
  appearance: none;

  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.1rem solid var(--blue);
  outline: none;
  cursor: pointer;
}

.task input[type="checkbox"]:checked {
  background: var(--purple-dark);
  border: 0.1rem solid var(--purple-dark);
}

.task input[type="checkbox"]:checked::before {
  content: "\2713";
  font-size: 0.6rem;
  font-family: "system-ui";
  color: var(--gray-100);
  padding-bottom: 0.4rem;
  font-weight: 700;

  position: relative;
  bottom: 0.35rem;
  left: 0.1rem;
}
